# --- POSTGRESQL (Ej. Supabase, Neon, Railway, Local) ---
DATABASE_URL="postgresql://usuario:password@host:port/dbname?schema=public"

# --- NEXT AUTH ---
# Genera un secreto (con: openssl rand -base64 32 en terminal o solo inventa algo seguro si es local)
NEXTAUTH_SECRET="un_secreto_super_seguro_para_tokens_jwt_123"
NEXTAUTH_URL="http://localhost:3000"

# --- CLOUDINARY (Imágenes) ---
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# --- MERCADO PAGO ---
MP_ACCESS_TOKEN="TEST-tu-access-token-de-mercadopago"
NEXT_PUBLIC_MP_PUBLIC_KEY="TEST-tu-public-key"
